<div>
    <label>Nazwa:
      <input #animalName />
      </label> <br>
      <label> Gromada:
      <input #animalBox />
    </label><br>
    <label class="date"> Data dodania:
      <br>
      <input #d [(ngModel)] = "day">
      <input #m [(ngModel)] = "month">
      <input #r [(ngModel)] = "year">
    </label><br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button (click)="picker.open()">Open</button>

    <br>
    <button class="add" (click)="add( '' , animalName.value, animalBox.value, m.value, d.value, r.value); animalName.value=''; animalBox.value =''">
      Dodaj do listy
    </button>
  </div>

  <!-- showDate(m.value, d.value, r.value); -->
